.cart_totals,
.woocommerce-cart-form,
.woocommerce-mini-cart-item  {

	&.processing {
		cursor: wait;
		opacity: 0.5;
		transition: opacity 0.3s ease;

		> * {
			pointer-events: none;
		}

		.blockUI {
			display: none !important;
		}
	}
}